{% extends 'base.html' %}

{% block content %}
<div class="center">
  <a href="/">
    <h1 class="teal-text fa-regular ">Sway</h1>
  </a>
</div>

<div class="row">
  <p class="card center col m4 s12 offset-m4">
    We hope you found you way here safely! <br><br>
    While most navigation apps suggest the fastest possible route, they often
    pass through areas which are highly unsafe.<br><br>
    With Sway, you get to know which of the suggested routes is the safest, so that you can step out without any
    worry.<br><br>
    <b>Navigate safely, find your Sway!</b>
  </p>
</div>

<!-- <p class="card">
</p> -->
<div class="center">
  <h1 class="teal-text fa-thin ">The Team</h1>
</div>


<div class="row card">

  <div class="col s12 m2">
    <div class="card">
    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E03AQHb2S7Sqtkcew/profile-displayphoto-shrink_800_800/0/1630767582418?e=2147483647&v=beta&t=ZqTlh54hv6WXIbOQl_2VMfl4rMYiaE3gb0_QqEJchj8">
        <a class="btn-floating halfway-fab waves-effect waves-light" href="https://linkedin.com/in/ronica-gupta-21av"><i
            class="fa-brands fa-linkedin-in"></i></a>

      </div>
      <span class="card-title teal-text fa-regular">&nbspRonica Gupta</span><br>
      <span class="card teal-text lighten-2 z-depth-0 fa-regular fa-text">&nbsp&nbsp&nbspChief Executive Officer</span>

    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQGpasFuQ6yvJw/profile-displayphoto-shrink_800_800/0/1635278662480?e=1654128000&v=beta&t=VHM5s7Q-9MSIPFhyE_rtzAaVHUpqx42wxbZgogu_RvU">
        <a class="btn-floating halfway-fab waves-effect waves-light" href="https://linkedin.com/in/brittagoldman"><i
            class="fa-brands fa-linkedin-in"></i></a>

      </div>
      <span class="card-title teal-text fa-solid fa-text">&nbspBritta Goldman</span><br>
      <span class="card teal-text lighten-2 z-depth-0 fa-regular fa-text">&nbsp&nbsp&nbspChief Operating Officer</span>

    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E03AQHB_DGNTN16bw/profile-displayphoto-shrink_800_800/0/1633462521262?e=1654128000&v=beta&t=j4pGVdwY66HufCDu-h0cRzbaDw3gKr2tH7BuMZ1b5BA">
        <a class="btn-floating halfway-fab waves-effect waves-light" href="https://linkedin.com/in/rachity"><i
            class="fa-brands fa-linkedin-in"></i></a>

      </div>
      <span class="card-title teal-text fa-solid fa-text">&nbspRachit Yadav</span><br>
      <span class="card teal-text lighten-2 z-depth-0 fa-regular fa-text">&nbsp&nbsp&nbspChief Technical Officer</span>

    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E03AQGf7HpNUnUSiA/profile-displayphoto-shrink_800_800/0/1625446164429?e=2147483647&v=beta&t=0RR-Gpc8HKBtA1Vx8hxPSHUrRyOeGaej0lDX7_0PjJ8">

        <a class="btn-floating halfway-fab waves-effect waves-light" href="https://linkedin.com/in/mukherjeeanish"><i
            class="fa-brands fa-linkedin-in"></i></a>

      </div>
      <span class="card-title teal-text fa-solid fa-text ">&nbspAnish Mukherjee</span><br>
      <span class="card teal-text lighten-2 z-depth-0 fa-regular fa-text">&nbsp&nbsp&nbspChief Data Officer</span>

    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
    </div>
  </div>
</div>

<div class="row card">
  <div class="col s12 m2">
    <div class="card">
    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQGrliImgZoHVg/profile-displayphoto-shrink_800_800/0/1630552691861?e=2147483647&v=beta&t=5QM_BIG5XSWh6JnYFMCwMAMFP53DqaR6XaMSL9VQmeU">

        <a class="btn-floating halfway-fab waves-effect waves-light" href="https://linkedin.com/in/richard-aw"><i
            class="fa-brands fa-linkedin-in"></i></a>

      </div>
      <span class="card-title teal-text fa-solid fa-text ">&nbspRichard Aw</span><br>
      <span class="card teal-text lighten-2 z-depth-0 fa-regular fa-text">&nbsp&nbsp&nbspProduct Manager</span>

    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQH6fURnejKMTQ/profile-displayphoto-shrink_800_800/0/1650874330000?e=1657152000&v=beta&t=QsIAimB8H1ZDbw0peFQU_thcLtpxpdXgplszLI7YAK0">

        <a class="btn-floating halfway-fab waves-effect waves-light" href="https://linkedin.com/in/charudatta-manwatkar"><i
           class="fa-brands fa-linkedin-in"></i></a>

      </div>
      <span class="card-title  teal-text fa-solid fa-text">&nbspCharudutta</span><br>
      <span class="card teal-text lighten-2 z-depth-0 fa-regular fa-text">&nbsp&nbsp&nbspSoftware Developer</span>

    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <img
          src="https://media-exp1.licdn.com/dms/image/D5603AQFKqmNjG848NA/profile-displayphoto-shrink_400_400/0/1630792140255?e=1654128000&v=beta&t=FXjMsKJa61wpiuUb9rwwf6wcsq5SUGUgMj7I_mQRW34">

        <a class="btn-floating halfway-fab waves-effect waves-light" href="https://linkedin.com/in/brendanwjenkins"><i
            class="fa-brands fa-linkedin-in"></i></a>

      </div>
      <span class="card-title teal-text fa-solid fa-text ">&nbspBrendan Jenkins</span><br>
      <span class="card teal-text lighten-2 z-depth-0 fa-regular fa-text">&nbsp&nbsp&nbspData Scientist</span>

    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4D03AQHlxJm1yLarTA/profile-displayphoto-shrink_800_800/0/1635356185651?e=1654128000&v=beta&t=aE4Gjo_sAJQzesCgkRTU8TDCDmqDClmljB4F3MXKycY">

        <a class="btn-floating halfway-fab waves-effect waves-light" href="https://linkedin.com/in/surbhi-prasad-"><i
            class="fa-brands fa-linkedin-in"></i></a>

      </div>
      <span class="card-title teal-text fa-solid fa-text ">&nbspSurbhi Prasad</span><br>
      <span class="card teal-text lighten-2 z-depth-0 fa-regular fa-text">&nbsp&nbsp&nbspData Scientist</span>

    </div>
  </div>

  <div class="col s12 m2">
    <div class="card">
    </div>
  </div>

</div>
<div class="fixed-action-btn" style="top:0">
  <a class="btn-floating btn-large tooltipped blue" data-tooltip="Feedback" data-position="down" href="/feedback">
    <i class="large material-icons">feedback</i>
  </a>
</div>
<div class="fixed-action-btn" style="top:0;right:100">
  <a class="btn-floating btn-large tooltipped red" data-tooltip="Home" data-position="down" href="/">
    <i class="large material-icons">home</i>
  </a>
</div>



<script type='text/javascript'>

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });


</script>



{% endblock %}
