{% extends 'base.html' %}

{% block content %}
<!-- <div class="row">
    <form class="col s12">
        <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
        </div>
        </div>
    </form>
</div> -->

<div class="center">
    <a href="/">
        <h1 class="teal-text fa-regular ">Sway</h1>
    </a>
</div>

<div class="row">
    <div class="card col s12 m4 offset-m4">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="text" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="feedback" type="text" class="validate">
                    <label for="feedback">How can we make your experience better?</label>
                </div>
            </div>
            <div class="center">
                <a class="btn waves-effect waves-light" id="fdbck" type="submit" href="/">Submit</a>
            </div>
            
            
            
        </form>
    </div>
</div>

<div class="fixed-action-btn" style="top:0;right:100">
    <a class="btn-floating btn-large tooltipped red" data-tooltip="Home" data-position="down" href="/" >
      <i class="large material-icons">home</i>
    </a>
  </div>
  <div class="fixed-action-btn" style="top:0">
    <a class="btn-floating btn-large tooltipped blue" data-tooltip="About Us" data-position="down" href="/about.html" >
      <i class="large material-icons">people</i>
    </a>
  </div>

  <script type = 'text/javascript' src="../static/js/feedback.js"></script>
{% endblock %}
