{% extends 'index.html' %}

{% block user %}

<form method="POST">
    {{ login_form.csrf_token }}
    <div class = "center">
    <h1 class = "card-title teal-text fa-regular ">Login</h1>
    </div> 
    <div class="row">
    <div class="input-field col s12">
        {{ login_form.email() }}
        <label for="email">{{ login_form.email.label }}</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s12">
        {{ login_form.password() }}
        <label for="password">{{ login_form.password.label }}</label>
    </div>
    </div>
    
    <button class="waves-effect waves-light btn center" id="button">{{ login_form.submit() }}</button>
    <div><br>
    <div class="center teal-text ">
        <a href="/forget_password">Forgot password?</a>
    </div><br>
    <div class="divider"></div>
    <br>
    
    </div>
</form>
<div class=" teal-text ">
    <span id="switch">Dont have an account? </span><a href="/register">Sign Up</a>
</div><br>

{% endblock user %}
