{% extends 'index.html' %}

{% block user %}
<form method="POST">
    {{ registration_form.csrf_token }}
    <div class = "center">
      <h1 class = "card-title teal-text fa-regular ">Sign Up</h1>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{ registration_form.firstname() }}
        <label for="first_name">{{ registration_form.firstname.label }}</label>
      </div>
      <div class="input-field col s6">
        {{ registration_form.lastname() }}
        <label for="last_name">{{ registration_form.lastname.label }}</label>
      </div>
    
    
      <div class="input-field col s12">
        {{ registration_form.email() }}
        <label for="email">{{ registration_form.email.label }}</label>
      </div>
    
    
    
      <div class="input-field col s12">
        {{ registration_form.password() }}
        <label for="password">{{ registration_form.password.label }}</label>
      </div>
    
      
      <button class="waves-effect waves-light btn center" id="button">{{ registration_form.submit() }}</button>
      <div><br>
      <div class="divider">
      </div>
      </div>
      <br>
    </div>
      
</form>
<div class=" teal-text ">
    <span id="switch">Go back to </span><a href="/">Log In</a>
</div><br>

{% endblock user %}