{% extends 'base.html' %}

{% block content %}

<div class="center">
    <a href="/">
        <h1 class="teal-text fa-regular ">Sway</h1>
    </a>
</div>



<div class="container">

    <div class="row">

        <div class=" col s12 m4 offset-m2">
            <div class="card">

                <div class="card-content center">
                    <h5 class=''>The Shortcut</h5>
                </div>
                <div class="card-content center">
                    <h2 class='grey-text '><small>$</small>4.99</h2>
                </div>

                <ul class='collection center'>
                    <li class='collection-item'>
                        <strong>No </strong> Advertisements
                    </li>
                    <li class='collection-item'>
                        Renewed Monthly
                    </li>
                </ul>

                <div class="card-content center">
                    <div class="row">
                        <div class="col s12">
                            <a class="btn waves-effect waves-light" id="subscribe1" type="submit" href="/">Subscribe</a>
                            <!-- <button class='btn green'>Subscribe</button> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class=" col s12 m4">
            <div class="card">

                <div class="card-content center">
                    <h5 class=''>The Scenic Route</h5>
                </div>
                <div class="card-content center">
                    <h2 class='teal-text '><small>$</small>49.99</h2>
                </div>

                <ul class='collection center'>
                    <li class='collection-item'>
                        <strong>No</strong> Advertisements
                    </li>
                    <li class='collection-item'>
                        Renewed yearly (Save 16.5%)
                    </li>
                </ul>

                <div class="card-content center">
                    <div class="row">
                        <div class="col s12">
                            <a class="btn waves-effect waves-light" id="subscribe2" type="submit" href="/">Subscribe</a>
                            <!-- <button class='btn green'>Subscribe</button> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

{% endblock %}